* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans" sans-serif;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/20201005_024037000_iOS.png);
  background-size: cover;
  background-position: center;
